### 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. 
###      i. WAP to add 200 and 300 to L. 
###     ii. WAP to remove 10 and 30 from L. 
###    iii. WAP to sort L in ascending order. 
###     iv. WAP to sort L in descending order.

In [2]:
L = [10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
L.remove(10)
L.remove(30)
L.sort()
L.sort(reverse = True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

### 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: 
###    i. Identify the highest score and its index in the tuple. 
###   ii. Find the lowest score and count how many times it appears. 
###  iii. Reverse the tuple and return it as a list. 
###   iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [15]:
T = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(f"Highest score: {max(T)}")
print(f"Index of highest score: {T.index(max(T))}")
print(f"Lowest score: {min(T)}")
print(f"Count of lowest score: {T.count(min(T))}")
print(f"Reversed tuple as a list: {list(reversed(T))}")
score = 76
if score in T:
    print(f"The score {score} is found at index {T.index(score)}.")
else:
    print(f"The score {score} is not present.")

Highest score: 92
Index of highest score: 5
Lowest score: 45
Count of lowest score: 2
Reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
The score 76 is found at index 2.

### 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
###    i. All odd numbers 
###   ii. All even numbers 
###  iii. All prime numbers

In [2]:
import random
random_number = [random.randint(100,900) for i in range(100)]
def is_prime(n):
    if n<2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
        return True
odd_num = [num for num in random_number if num%2!=0]
print(odd_num)
print(len(odd_num))
even_num = [num for num in random_number if num%2==0]
print(even_num)
print(len(even_num))
prime_num = [num for num in random_number if is_prime(num)]
print(prime_num)
print(len(prime_num))

[537, 565, 671, 621, 215, 553, 201, 267, 419, 897, 379, 895, 381, 443, 283, 739, 743, 881, 559, 403, 577, 797, 749, 265, 389, 203, 121, 883, 233, 791, 153, 121, 875, 277, 543, 821, 801, 727, 723, 707, 119, 707, 475, 783, 825, 621, 897, 765, 253, 883]
50
[372, 304, 670, 632, 534, 490, 304, 168, 144, 678, 772, 534, 310, 584, 256, 704, 474, 248, 158, 886, 804, 610, 124, 900, 448, 672, 868, 566, 738, 844, 516, 228, 436, 820, 462, 650, 532, 810, 414, 262, 534, 124, 150, 118, 508, 188, 460, 890, 358, 146]
50
[537, 565, 671, 621, 215, 553, 201, 267, 419, 897, 379, 895, 381, 443, 283, 739, 743, 881, 559, 403, 577, 797, 749, 265, 389, 203, 121, 883, 233, 791, 153, 121, 875, 277, 543, 821, 801, 727, 723, 707, 119, 707, 475, 783, 825, 621, 897, 765, 253, 883]
50

### 4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}. WAP to perform the following operations using set functions:
###    i. Find the unique scores achieved by both teams (union of sets). 
###   ii. Identify the scores that are common to both teams (intersection of sets).
###  iii. Find the scores that are exclusive to each team (symmetric difference). 
###   iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. 
###    v. Remove a specific score 𝑋 (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [6]:
A={34,56,78,90}
B={78,45,90,23}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
print(A.issubset(B))
print(B.issuperset(A))
X = int(input("Enter the any number:"))
if X in A:
    print("Present in set A")
else:
    print("Not present in set A")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False

Enter the any number: 34

Present in set A

### 5. Write a program to rename a key city to a location in the following dictionary.

In [7]:
sample_dict = {"name": "Kelly", "age":25, "salary":8000, "city":"New york"}
old="city"
new="location"
sample_dict[new]=sample_dict.pop(old)
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}